* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.colors{
    border: 1px solid #979797;
    background-color: #D8D8D8;
}

header{
    max-width: 1024px;
    width: 100%;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.boxes-containers{
    display: grid;
    grid-gap: 20px;
}

.two-boxes{
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
}

.two-boxes-box{
    height: 300px;
}

.three-boxes{
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.three-boxes-box{
  height: 120px;
}

footer{
  height: 200px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.little-box{
    height: 150px;
    width: 150px;
}

@media (max-width: 500px){

  .two-boxes, .three-boxes{
    display: grid;
    grid-template-columns: 1fr;
  }

  footer{
    margin-top: 20px;
  }
}
